#MyWindow {
    background-color: black;
    color: white;
    font-family: Sans;
}
label#lblTime {
    background-color: black;
    color: darkblue;
    font-family: sans-serif;
    font-size: 191px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
label#lblDate {
    background-color: black;
    color: blueviolet;
    font-family: sans-serif;
    font-size: 47px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
